@page "/favoriten"

@using System.Collections.ObjectModel;
@using frontend.Data;
@using frontend.Services;
@using frontend.Services.DTO;
@inject MealProviderService MealProvider;

<PageTitle>Favoriten</PageTitle>

<h1>Favoriten</h1>

@if(meals == null || meals.Count <= 0)
{
    <div id="no-result-box">Looks like you haven't added anything to your favourites yet.
        Search for meals or get inspired by random meals and add them to your favourites then.</div>
} else
{
    <MealPreviewListComp Meals="@meals"></MealPreviewListComp>
}


@code {
    //TODO: Display Favoriten aus der Datenbank
    private ObservableCollection<MealDto>? meals;

    protected override async Task OnInitializedAsync()
    {
        var tmp = MealProvider.GetMealsFromDb().Result;
        meals = new ObservableCollection<MealDto>(tmp);   
    }
}
