@page "/"

<PageTitle>Home</PageTitle>

<h1>Recipes!</h1>

<p>Welcome to your meal database. </p>

<form>
    <p>
        Search for meals: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>




@code {

}

