@page "/"

@using System.Collections.ObjectModel;
@using frontend.Data
@using System.Text.Json
@using System.Text.Json.Serialization
@using Newtonsoft.Json.Linq
@using frontend.Services;
@inject NavigationManager _nav
@inject MealProviderService MealProvider;

<PageTitle>Home</PageTitle>

<h1>Recipes!</h1>

<p>Welcome to your meal database. </p>

<span>
    <p>Search for receipts:</p>
    <input type="text" @bind-value="@searchTextBoxContent" />
    <input type="button" value="Search" @onclick="@SearchMealsAPI" />
</span>

<MealPreviewListComp Meals="@meals"></MealPreviewListComp>


@code {
    private string? searchTextBoxContent;
    private ObservableCollection<Meal>? meals;

    private void SearchMealsAPI()
    {
        var tmp = MealProvider.GetMeals(searchTextBoxContent).Result;
        meals = new ObservableCollection<Meal>(tmp);

        if (meals.Count() == 0)
        {
            //responseIsEmpty = true;
        }

    }
}

