@page "/"

<PageTitle>Home</PageTitle>

<h1>Recipes!</h1>

Welcome to your meal database. 

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
