name: k6-tests
on:
  push:
    branches:
      - main

jobs:
  k6_local_test:
    name: k6 local test run
    runs-on: ubuntu-latest
    services: 
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5
  
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      
      - name: verify databse connection
        run: |
              sudo apt-get update
              sudo apt-get install -y mysql-client
              sudo /etc/init.d/mysql start
              mysql -h localhost --port=3306 -u root --password=password mealDev
    
      - name: Build project
        run: dotnet build ./backend &&
             dotnet run --project ./backend

      - name: Run local k6 test
        uses: grafana/k6-action@v0.2.0
        with:
          filename: scripts/smoke-test.js
          flags: --out json=results.json

      - name: Upload performance test results
        uses: actions/upload-artifact@v3
        with:
          name: k6-report
          path: results.json
