@using System.Collections.ObjectModel;
@using frontend.Data;
@using frontend.Services;
@using frontend.Services.DTO;
@inject NavigationManager NavManager;


@if(_meals != null)
{
    @if(responseIsEmpty)
    {
        <div id="no-result-box"> We couldn't find anything for that prompt. Try something else or try hitting the random button.</div>   
    } 
    else
    {
        <div class="d-flex" id="meal-preview-wrap-container">
            @foreach (var item in _meals)
            {
                <MealPreviewCardComp StrId=@item.StrId
                         Id=@item.Id
                         Title=@item.Name
                         Category=@item.Category
                         Area=@item.Area
                         ImageUrl=@item.ThumbnailUrl
                         OnSelected="HandleItemSelected"
                         Selected=@item.Selected>
                    <Hashtags>
                        @if (item.Tags != "")
                        {
                            <div class="alert alert-primary">
                                @item.Tags
                            </div>
                        }
                    </Hashtags>
                </MealPreviewCardComp>
            }
        </div>
    }

} else
{
   
}



@code {
    private ObservableCollection<MealDto> _meals { get; set; }

    [Parameter]
    public ObservableCollection<MealDto> Meals { get; set; }

    public bool responseIsEmpty { get; set; }

    protected override void OnInitialized()
    {
        _meals = Meals;
    }


    protected override void OnParametersSet()
    {
        if(_meals != Meals)
        {
            _meals = Meals;
        }
        if(_meals != null)
        {
            responseIsEmpty = _meals.Count() <= 0;
        }
    }

    void HandleItemSelected(string selectedMealId)
    {
        foreach (var item in Meals) item.Selected = false;

        Meals.First(f => f.StrId == selectedMealId).Selected = true;
        NavManager.NavigateTo($"/{selectedMealId}");
    }
}
