@using System.Collections.ObjectModel;
@using frontend.Data;
@using frontend.Services;
@using frontend.Services.DTO;
@inject NavigationManager NavManager;


@if(_meals != null)
{
    @if(responseIsEmpty)
    {
        <div id="no-result-box"> We couldn't find anything for that prompt. Try something else or try hitting the random button.</div>   
    } 
    else
    {
        <div class="d-flex" id="meal-preview-wrap-container" data-cy="listOfMealPreviews">
            @foreach (var item in _meals)
            {
                <MealPreviewCardComp StrId=@item.StrId
                         Id=@item.Id
                         Title=@item.Name
                         Category=@item.Category
                         Area=@item.Area
                         ImageUrl=@item.ThumbnailUrl
                         Tags=@item.Tags
                         OnSelected="HandleItemSelected"
                         Selected=@item.Selected>
                </MealPreviewCardComp>
            }
        </div>
    }

} else
{
   
}



@code {
    private ObservableCollection<MealDto> _meals { get; set; }

    [Parameter]
    public ObservableCollection<MealDto> Meals { get; set; }

    public bool responseIsEmpty { get; set; }

    protected override void OnInitialized()
    {
        _meals = Meals;
    }


    protected override void OnParametersSet()
    {
        if(_meals != Meals)
        {
            _meals = Meals;
        }
        if(_meals != null)
        {
            responseIsEmpty = _meals.Count() <= 0;
        }
    }

    //Gets executed when the user clicks on a certain meal
    void HandleItemSelected(string selectedMealId)
    {
        foreach (var item in Meals) item.Selected = false;

        var selMeal = Meals.First(f => f.StrId == selectedMealId);
        selMeal.Selected = true;

        Meals.First(f => f.StrId == selectedMealId).Selected = true;
        if(selMeal.Id > 0)
        {
            //Meal is from database
            string url = "/" + selMeal.Id + "/true";
            NavManager.NavigateTo(url);
        } else
        {
            //Meal is from API
            NavManager.NavigateTo($"/{selectedMealId}");
        }

    }
}
