
<div class="card bg-light m-2">
    <div class="card-body text-center">
        <span class="h2 oi oi-fork"></span>
        <h2 class="card-title">@Title</h2>
        <p class="card-text">
            #@Category #@Area
        </p>
    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public string Area { get; set; }
}
