
<div class="card bg-light m-2">
    <div class="card-body text-center">
        <img src=@ImageThumbnail alt=@AlternatePictureText >
        <h2 class="card-title">@Title</h2>
        <p class="card-text">
            #@Category #@Area
        </p>
    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Category { get; set; }

    [Parameter]
    public string? Area { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    private string ImageThumbnail { get; set; }

    private string AlternatePictureText { get; set; }

    //TODO: make this method actually async (or use sync version kek)
    protected override async Task OnParametersSetAsync()
    {
        if(Title == default)
        {

        } else
        {
            AlternatePictureText = "Picture of " + Title;
        }  

        if(ImageUrl == default)
        {
            ImageUrl = "io io-fork";
        } else
        {
            ImageThumbnail = ImageUrl + "/preview";
        }
        

    }
}
